:root
{--munna1:red; --munna2:blue; --munna3:green; --munna4:yellow; 
--munna5:white; --munna6:brown; --munna7:salmon; --munna8:purple;
--munna9:orange; --munna10:skyblue; --munna11:black; --munna12:#626262;
--munna13:violet; --munna14:red; --munna15:red; --munna16:blue; 
--munna17:red; --munna18:blue; --munna19:red; --munna20:blue;
--munna21:red; --munna22:blue; --munna23:red; --munna24:blue;
--munna25:red; --munna26:blue; --munna27:red; --munna28:blue; 
--munna29:red; --munna30:blue; --munna31:red; --munna32:blue;
--munna33:red; --munna34:blue; --munna35:red; --munna36:blue;
--munna37:red; --munna38:blue; --munna39:red; --munna40:blue; 
--munna41:red; --munna42:blue; --munna43:red; --munna44:blue;
--munna45:red; --munna46:blue; --munna47:red; --munna48:blue;
--munna49:red; --munna50:blue; --munna51:red; --munna52:blue; 
--munna53:red; --munna54:blue; --munna55:red; --munna56:blue;
--munna57:red; --munna58:blue; --munna59:red; --munna60:blue;
--munna61:red; --munna62:blue; --munna63:red; --munna64:blue; 
--munna65:red; --munna66:blue; --munna67:red; --munna68:blue;
--munna69:red; --munna70:blue; --munna71:red; --munna72:blue;
--munna73:red; --munna74:blue; --munna75:red; --munna76:blue; 
--munna77:red; --munna78:blue; --munna79:red; --munna80:blue;
--munna81:red; --munna82:blue; --munna83:red; --munna84:blue;
--munna85:red; --munna86:blue; --munna87:red; --munna88:blue; 
--munna89:red; --munna90:blue; --munna91:red; --munna92:blue;
--munna93:red; --munna94:blue; --munna95:red; --munna96:blue;
}